<div class="home-container">
    <div class="home-form-container">
        <form (ngSubmit)="searchUser()">
            <div class="home-search-container">
                <label for="search" class="home-search-label">Buscar usuário no GitHub: </label>
                <input required
                [(ngModel)]="search" 
                name="search" 
                type="text" 
                class="home-search-input" 
                placeholder="Digite o nome do usuário" >
                <p [ngClass]="isEmpty ? 'error-message' : 'home-warning'"><small>Preencha o campo de busca!</small></p>
            </div>
            <app-button text="Buscar"></app-button>
        </form>
       
        
        <app-notification></app-notification>
    </div>
    <div class="home-user-container">
        <app-user *ngIf="user" [user]="user" [stars]="stars"></app-user>
        <div class="home-user-repositories-link">
            <a *ngIf="repo && user" routerLink="/repository-results" [state]="{data: {repo}}">Ir para página de repositórios</a>
        </div>
    </div>
</div>