<div class="home-container">
    <div class="home-form-container">
        <form (ngSubmit)="searchUser()">
            <div class="home-search-container">
                <label for="search" class="home-search-label">Buscar usuário no GitHub: </label>
                <input required
                [(ngModel)]="search" 
                name="search" 
                type="text" 
                class="home-search-input" 
                placeholder="Digite o nome do usuário" >
                <p class="home-warning" *ngIf="isEmpty"><small>Preencha o campo de busca!</small></p>
            </div>
            <input type="submit" class="home-button" value="Buscar">
        </form>

        <app-loading *ngIf="loading"></app-loading>
 
        <div class="home-search-error-container error" *ngIf="error">
            <strong>Erro! </strong>{{errorMessage}}</div>
    </div>
    <div class="home-user-container" *ngIf="!error">
        <app-user class="home-user-info" *ngIf="user" [user]="user" [stars]="stars"></app-user>
        <div class="home-user-repositories-link">
            <a *ngIf="user" routerLink="repository-results" [state]="{search}">Ir para página de repositórios</a>
        </div>
    </div>
</div>