@media only screen and (min-width: 768px) {
    body {
        font-family: "Poppins", sans-serif;
    }
    
    .repository-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .repository-error-container{
        font-size: 25px;
        text-align: center;
    }

    .repository-owner-container{
        margin-bottom: 20px;
        display: flex;
        width: 88%;
        justify-content: center;
        align-items: center;
    }

    .repository-orderby-container {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .repository-orderby {
        width: 75px;
        border: none;
        cursor: pointer;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .repository-orderby-container > span {
        margin-right: 15px;
    }

    .repository-orderby-icon{
        background: white;
        display: inline-block;
    }

    .repository-info-container {
        display: flex;
        justify-content: space-between;
        width: 89%;
        margin-bottom: 20px;
        padding: 25px 20px;
        background-color: var(--orange);
    }

    .repository-info {
        margin: 12px 0;
    }

    .repository-left-info {
        max-width: 70%;
    }

    .repository-info > p{
        margin-bottom: 10px;
    }

    .repository-created {
        font-style: italic;
        color: var(--white);
    }

    .repository-forks {
        margin-right: 15px;
        font-weight: bold;
    }

    .repository-stars {
        font-weight: bold;
    }
}

@media only screen and (max-width: 768px) {
    .repository-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .repository-error-container{
        font-size: 18px;
        text-align: center;
    }

    .repository-owner-container{
        margin-bottom: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .repository-owner-container > h1{
        text-align: center;
    }

    .repository-orderby-container > span {
        margin-right: 15px;
    }

    .repository-orderby {
        width: 75px;
        border: none;
        cursor: pointer;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .repository-orderby-icon{
        background: white;
        display: inline-block;
    }

    .repository-info-container {
        width: 95%;
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
        margin-bottom: 15px;
        background-color: var(--orange);
    }

    .repository-info {
        margin: 10px 0;
    }

    .repository-info > p{
        margin-bottom: 10px;
    }

    .repository-created {
        font-style: italic;
        color: var(--white);
    }

    .repository-forks {
        margin-right: 10px;
        font-weight: bold;
    }

    .repository-stars {
        font-weight: bold;
    }
}